#street-block {
    position: absolute;
}
.street {
    display: block;
    position: relative;
    float: left;
    top: 90px;
    height: 84px;
    margin-bottom: 53px;
}
.building {
    z-index: 200;
    display: inline-block;
    position: relative;
    float: left;
    height: 79px;
    width: 45px;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}
.building.fence {
    border-left: 5px solid white;
}
.building.marked {
    border-top: 5px solid black;
}
.building.BIS span:before {
    content: "б.";
}
.building span {
    display: block;
    position: relative;
    margin-top: 49%;
	z-index: 10;
	pointer-events: none;
}
.building.pool-checked {
    background-image: url("../img/pool.png");  
}
.building.pool span, .building.pool-checked span {
    margin-top: 64%;
}
#street-one {
    left: 182px;
}
#street-two {
    left: 127px;
}
#street-three {
    left: 72px;
}
#park-block {
    position: absolute;
    top: 62px;
    right: 70px;
    width: 141px;
    height: 300px;
}
.park-line {
    padding: 0;
    height: 24px;
    margin-bottom: 112px;
}
#park-line-one {
    padding-left: 55px;
}
#park-line-two {
    padding-left: 27px;
}
#park-line-three {
    padding-left: 0px;
}
.park-dot {
    display: inline-block;
    margin-right: 7px;
    width: 21px;
    height: 21px;
    float: left;
}
#scores-block {
    position: absolute;
    top: 500px;
    left: 37px;
    width: 680px;
    height: 206px;    
}
#scores-plans {
    position: absolute;
    bottom: 0px;
    width: 36px;
    height: 155px;
}
.scores-plan {
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    margin-bottom: 24px;
}
#scores-parks {
    position: absolute;
    left: 66px;
    bottom: 0px;
    width: 36px;
    height: 113px;
}
.scores-park {
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    margin-bottom: 2px;
}
#scores-pools {
    position: absolute;
    left: 135px;
    bottom: 0px;
    width: 49px;
    height: 123px;
}
.scores-pool {
    height: 20px;
    display: inline-block;
    width: 20px;
    margin-left: 2px;
    margin-right: 0px;
    margin-bottom: 1px;
}
#scores-wps {
    position: absolute;
    left: 217px;
    bottom: 0px;
    width: 60px;
    height: 136px;
    padding: 0;
    margin: 0;
}
#scores-wps-middle {
    position: absolute;
    bottom: 0px;
    left: 16px;
    bottom: 35px;
}
.scores-wp {
    height: 24px;
    width: 24px;
}
#scores-wps .scores-wp {
    display: inline-block;
    margin-left: 1px;
    margin-right: 3px;
    margin-bottom: 1px;
}
#scores-agency {
    position: absolute;
    left: 320px;
    height: 149px;
    bottom: 0px;
    width: 225px;
}
#scores-agency-row {
    float: left;
    position: absolute;
    width: 235px;
    left: 6px;
    height: 15px;
    bottom: 0px;
}
.scores-agency-single-amount {
    float: left;
    width: 17px;
    height: 15px;
    margin-right: 21.3px;
}
.scores-agency-col {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 15.5px;
    width: 21px;
}
.scores-agency-col:nth-child(1) {top: 60px; height: 21px;}
.scores-agency-col:nth-child(2) {top: 48px; height: 43px;}
.scores-agency-col:nth-child(3) {top: 36px; height: 64px;}
.scores-agency-col:nth-child(4) {top: 24px; height: 84px;}
.scores-agency-col:nth-child(5) {top: 12px; height: 84px;}
.scores-agency-col:nth-child(6) {top: 1px;  height: 85px;}
.scores-agency-single {
    width: 21px;
    height: 21px;
    float: left;
}
#scores-BIS {
    position: absolute;
    left: 559px;
    bottom: 0px;
    width: 75px;
    height: 145px;
}
.scores-BIS-single {
    height: 20px;
    display: inline-block;
    width: 21px;
    margin-left: 6px;
    margin-bottom: 6.7px;
}
#scores-fails {
    position: absolute;
    left: 649px;
    bottom: 0px;
    width: 30px;
    height: 105px;
}
.scores-fail {
    height: 24px;
    display: inline-block;
    width: 24px;
    margin-bottom: 2px;
}
#total-scores-block {
    position: absolute;
    bottom: 41px;
    left: 40px;
    width: 750px;
    height: 31px;    
}
.total-scores-group {
    display: inline-block;
    height: 12px;
    text-align: center;
    margin-right: 31px;
    font-weight: 900;
}
#total-score-plans, #total-score-parks {
    width: 31px;
}
#total-score-pools {
    width: 47px;    
}
#total-score-wps {    
    width: 57px;    
}
#total-score-agency {
    width: 230px;    
    padding: 0;
    margin-right: 26px;
    padding-top: 6px;
}
.total-score-agency-one-area {
    margin-right: 4px;
    padding: 0;
    float: left;
    display: inline-block;
    width: 33px;
    height: 100%;    
}
.total-score-agency-one-area:nth-child(4), .total-score-agency-one-area:nth-child(5) {
    margin-right: 7px;
}
#total-score-BIS {
    width: 46px;    
    margin-right: 28px;
}
#total-score-fails {
    width: 31px;    
    margin-right: 19px;
}
#total-score-all {
    width: 34px;    
    margin-right: 0;
}
div[crossed="1"] {
    background-image: url("../img/cross.png");  
    background-size: 100%;
}
