#menu-name {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 350%;
    margin-top: -5%;
}
#menu-list {
    display: block;
    margin-top: 3%;
    height: 185px;
    font-size: 250%;
    
}
.menu-name-start {
    opacity: 1;
}
.menu-name-hidden {
	animation: menu-name-hide 0.2s ease-in-out;
}
.menu-name-shown {
	animation: menu-name-show 0.2s ease-in-out;
}
@keyframes menu-name-show {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes menu-name-hide {
  from { opacity: 1; }
  to { opacity: 0; }
}