#build-variants {
    position: absolute;
    width: 190px;
    height: 120px;
    transform: translate(-95px,-90px);
    z-index: 100;
}
.build-variant-single {
    z-index: 95;
    background-color: rgba(240,240,240,0.9);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    left: 60px;
    border: 3px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-weight: 900;
    font-size: 35pt;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gray;
}
.build-variant-single:hover {
    font-size: 42pt; 
    border: 3px dotted green;
    background-color: rgba(255,255,255,9);
}
#var1 {
    animation: moving1 0.6s 1 linear; 
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#var2 {
    animation: moving2 0.6s 1 linear; 
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#var3 {
    animation: moving3 0.6s 1 linear; 
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#var4 {
    animation: moving4 0.6s 1 linear; 
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes moving1 {
	from {transform: rotate(-30deg) translate(-55px) rotate(-30deg) scale(0.1);}
	to   {transform: rotate(180deg) translate(-55px) rotate(-180deg) scale(01);}
}
@keyframes moving2 {
	from {transform: rotate(-30deg) translate(-55px) rotate(-30deg) scale(0.1);}
	to   {transform: rotate(90deg) translate(-55px) rotate(-90deg) scale(01);}
}
@keyframes moving3 {
	from {transform: rotate(-30deg) translate(-55px) rotate(-30deg) scale(0.1);}
	to   {transform: rotate(0deg) translate(-55px) rotate(0deg) scale(01);}
}
@keyframes moving4 {
	from {transform: rotate(-30deg) translate(-55px) rotate(-30deg) scale(0.1);}
	to   {transform: rotate(270deg) translate(-55px) rotate(270deg) scale(01);}
}

#agency-adder {
    display: block;
    position: absolute;
    background: rgba(200,200,200,0.97);
    left: 30%;
    top: 30%;
    width: 40%;
    height: 15%;
    border: 1px solid transparent;
    border-radius: 20px;
    z-index: 100;
    padding: 2%;
}
.agency-adder-single {
    display: inline-block;
    float: left;
    position: relative;
    width: 16%;
    margin-right: 0.5%;
    height: 96%;
}
.agency-adder-single img{
    width: 100%;
    pointer-events: none;
}
.agency-adder-single div{
    pointer-events: none;
    font-size: 250%;
    font-weight: 600;
    text-align: center;
}
