
.player-info{
	background-color: rgba(255,255,255,0.25);
	font-weight: 900;
	font-size: 200%;
	margin: 1%;
	width: 97.8%;
	border: 1px solid white;
	border-radius: 5px;
	line-height: 80px;
	vertical-align: middle;
}
#players-others {
	overflow: auto;
	height: 200px;
	
}
#player-main {
	height: 27%;
}
div[class^="icon"] {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-bottom: -7px;
	background-size: 100% 100%;
}
.icon-plan-done{
	background-image: url("../img/icons/icon-pd.png");  
}
.icon-plan{
	background-image: url("../img/icons/icon-p.png");  
}
.icon-fail-done{
	background-image: url("../img/icons/icon-fd.png");  
}
.icon-fail{
	background-image: url("../img/icons/icon-f.png");  
}
.icon-house{
	background-image: url("../img/icons/icon-h.png");  
}
.icon-house2{
	background-image: url("../img/icons/icon-h2.png");  
}
.icon-wp{
	background-image: url("../img/icons/icon-wp2.png");  
}

#players-others::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: brown;
}

#players-others::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#players-others::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}