.card_table, .plan_table {
    display: inline-block; 
}
.card_single {
	display: inline-block;
    position: relative;
	border: 0px solid white;
	border-radius: 20px;
	width: 220px;
	height: 342px;
	background-repeat: no-repeat;
	margin: 10px;
	background-size: 100% 100%;
}
.deck_house {
	background-image: url("../img/houses/9.jpg");
}
.deck_effect {
	background-image: url("../img/effect.jpg");            
}
.deck_plan_uncompleted {
    background-image: url("../img/plans/clear/1a.jpg");    
}
.deck_plan_completed {
    background-image: url("../img/plans/clear/1ad.jpg");    
}
.deck_plan_uncompleted[type='1'] {
    background-image: url("../img/plans/clear/1a.jpg");    
}
.deck_plan_completed[type='1'] {
    background-image: url("../img/plans/clear/1ad.jpg");    
}
.deck_plan_uncompleted[type='1e'] {
    background-image: url("../img/plans/clear/1b.jpg");    
}
.deck_plan_completed[type='1e'] {
    background-image: url("../img/plans/clear/1bd.jpg");    
}
.deck_plan_uncompleted[type='2'] {
    background-image: url("../img/plans/clear/2a.jpg");    
}
.deck_plan_completed[type='2'] {
    background-image: url("../img/plans/clear/2ad.jpg");    
}
.deck_plan_uncompleted[type='2e'] {
    background-image: url("../img/plans/clear/2b.jpg");    
}
.deck_plan_completed[type='2e'] {
    background-image: url("../img/plans/clear/2bd.jpg");    
}
.deck_plan_uncompleted[type='3'] {
    background-image: url("../img/plans/clear/3a.jpg");    
}
.deck_plan_completed[type='3'] {
    background-image: url("../img/plans/clear/3ad.jpg");    
}
div[effect="0"].effect, div[effect="0"].deck_house div, div[effect="0"].build-variant-single{
	background-image: url("../img/effects/0.png");  
}
div[effect="1"].effect, div[effect="1"].deck_house div, div[effect="1"].build-variant-single{
	background-image: url("../img/effects/1.png");  
}
div[effect="2"].effect, div[effect="2"].deck_house div, div[effect="2"].build-variant-single{
	background-image: url("../img/effects/2.png");  
}
div[effect="3"].effect, div[effect="3"].deck_house div, div[effect="3"].build-variant-single{
	background-image: url("../img/effects/3.png");  
}
div[effect="4"].effect, div[effect="4"].deck_house div, div[effect="4"].build-variant-single{
	background-image: url("../img/effects/4.png");  
}
div[effect="5"].effect, div[effect="5"].deck_house div, div[effect="5"].build-variant-single{
	background-image: url("../img/effects/5.png");  
}
.house_index_top{
	display: block;
    position: absolute;
	height: 33px;
	width: 55px;
	top:33px;
	left: 20px;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gray;
}
.house_effect_top {
	display: block;
    position: absolute;
	height: 60px;
	width: 60px;
    top: 16px;
    right: 6px;
	background-size: 92%;
	background-repeat: no-repeat;
	clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.house_index_main{
	display: block;
	position: absolute;
    bottom: 72px;
	height: 200px;
	width: 231px;
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	line-height	: 200px;
}
.house_effect_bot {
	display: block;
	position: absolute;
	height: 64px;
	width: 64px;
    bottom: 8px;
	left: 10px;
	background-size: 97%;
	background-repeat: no-repeat;
	clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
}
.house_index_bot{
	display: block;
	position: absolute;
	height: 33px;
	width: 54px;
	bottom: 34px;
	right: 21px;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gray;
}
.plan_description {
    display: block;
    position: absolute;
    height: 148px;
    width: 169px;
    top: 101px;
    left: 25px;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
}
.plan_points_first {
    display: block;
    position: absolute;
    height: 44px;
    width: 44px;
    bottom: 35px;
    left: 40px;
	text-align: center;
	font-size: 45px;
	font-weight: 900;
}
.plan_points_left {
    display: block;
    position: absolute;
    height: 44px;
    width: 44px;
    bottom: 35px;
    right: 43px;
	text-align: center;
	font-size: 45px;
	font-weight: 900;
}
.effect{
	display: block;
	padding-top: 90px;
	padding-left: 15px;
	height: 165px;
	width: 190px;
	background-repeat: no-repeat;
}
#nextTurn_button {
    height: 50px;
    width: 100%;
}