*{
  --blank-move: -320px;
  --plans-move: -320px;
  --menu-move: -200px;
  --players-move: -200px;
}
#SuperPower {
    position: absolute;
    width: 80px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    right: 10px;
    font-weight: 900;
}
#SuperPower[charges="0"] {
    color: rgba(10,10,10,0.6);
    background: rgba(150,150,150,0.6);
    font-size: 140%;
}
#SuperPower[charges="1"] {
    background: rgba(150,50,50,0.8);
    font-size: 120%;
}
#SuperPower[charges="1"]:hover {
    border: 1px solid rgba(0,0,0,0.8);
}
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#block-left {
	position: fixed;
	height: 100%;
	left: 0;
	width: calc(100% - 800px);
}
#block-right{
	position: fixed;
	width: 800px;
	height: 100%;
	right: 0;
}
#left-top-block {
	position: relative;
	width: calc(100% - 800px);
	z-index: 10;
}
#menu {
	background-color: rgba(0,150,0,1);
	display: inline-block;
	float: left;
	position: relative;
	width: 25%;
	height: 300px;
}
#players {
	background-color: rgba(0,150,0,0.9);
	background-repeat: repeat;
	display: inline-block;
	position: relative;
	float: right;
	width: 75%;
	height: 300px;
	padding: 0;
}
#cards {
	background-color: rgba(150,0,0,0.4);
	position: fixed;
	width: calc(100% - 800px);
	height: 100%;
	margin-top: 100px;
	
}
#plans {
	background-color: rgba(150,0,0,0.4);
	display: block;
	width: 800px;
	height: 400px;
	position: fixed;
	right: 0;
}
#blank {
	background-color: rgba(150,0,0,0.4);
	background-image: url("../img/blank.jpg");   
	background-size: 100%;
	width: 800px;
	height: 800px;
	display: block;
	position: fixed;
	right: 0;
}

.bg-wooden {
	background-image: url("../img/bg/wood1.jpg");  
	background-size: 200px 200px;
	background-repeat: repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #873600;
	
}

.blank-start {
	bottom: var(--blank-move);
}
.blank-hidden {
	animation: blank-hide 0.4s ease-in-out;
	bottom: var(--blank-move);
}
.blank-shown {
	animation: blank-show 0.4s ease-in-out;
	bottom: 0px;
}
@keyframes blank-show {
  from { bottom: var(--blank-move); }
  to { bottom: 0px; }
}
@keyframes blank-hide {
  from { bottom: 0px; }
  to { bottom: var(--blank-move); }
}

.plans-start {
	top: 0;
}
.plans-hidden {
	animation: plans-hide 0.4s ease-in-out;
	top: var(--plans-move);
}
.plans-shown {
	animation: plans-show 0.4s ease-in-out;
	top: 0px;
}
@keyframes plans-show {
  from { top: var(--plans-move); }
  to { top: 0px; }
}
@keyframes plans-hide {
  from { top: 0px; }
  to { top: var(--plans-move); }
}

.menu-start {
	top: var(--menu-move);
}
.menu-hidden {
	animation: menu-hide 0.4s ease-in-out;
	top: var(--menu-move);
}
.menu-shown {
	animation: menu-show 0.4s ease-in-out;
	top: 0px;
}
@keyframes menu-show {
  from { top: var(--menu-move); }
  to { top: 0px; }
}
@keyframes menu-hide {
  from { top: 0px; }
  to { top: var(--menu-move); }
}

.players-start {
	top: var(--players-move);
}
.players-hidden {
	animation: players-hide 0.4s ease-in-out;
	top: var(--players-move);
}
.players-shown {
	animation: players-show 0.4s ease-in-out;
	top: 0px;
}
@keyframes players-show {
  from { top: var(--players-move); }
  to { top: 0px; }
}
@keyframes players-hide {
  from { top: 0px; }
  to { top: var(--players-move); }
}